<div>
    <div class="list row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <h4>title:</h4><br>
                <input #title
                type="text"
                class="form-control"
                placeholder="Search by title"
                />
                <div class="input-group-append">
                    <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="getBooksByTitle(title.value)">
                    
                    Search
                </button>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>{{booktitledata | json}}
                    </div>
                </div>

                <div>
                    <div class="list row">
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <h4>price:</h4><br>
                                <input #price
                                type="text"
                                class="form-control"
                                placeholder="Search by price"
                                />
                                <div class="input-group-append">
                                    <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                    (click)="getBooksByPrice(price.value)">
                                    
                                    Search
                                </button>
                                </div>
                                </div>>
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>{{bookpricedata | json}}
                                    </div>
                                </div>
                                <div>
                                    <div class="list row">
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <h4>category:</h4><br>
                                                <input #category
                                                type="text"
                                                class="form-control"
                                                placeholder="Search by category"
                                                />
                                                <div class="input-group-append">
                                                    <button
                                                    class="btn btn-outline-secondary"
                                                    type="button"
                                                    (click)="getBooksByCategory(category.value)">
                                                    
                                                    Search
                                                </button>
                                                </div>
                                                </div>>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <p>{{bookcategorydata | json}}
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="list row">
                                                        <div class="col-md-8">
                                                            <div class="input-group mb-3">
                                                                <h4>author:</h4><br>
                                                                <input #author
                                                                type="text"
                                                                class="form-control"
                                                                placeholder="Search by author"
                                                                />
                                                                <div class="input-group-append">
                                                                    <button
                                                                    class="btn btn-outline-secondary"
                                                                    type="button"
                                                                    (click)="getBooksByAuthor(author.value)">
                                                                    
                                                                    Search
                                                                </button>
                                                                </div>
                                                                </div>>
                                                                <div>
                                                                    <div class="row">
                                                                        <div class="col-md-8">
                                                                            <p>{{bookauthordata | json}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="list row">
                                                                        <div class="col-md-8">
                                                                            <div class="input-group mb-3">
                                                                                <h4>publisher:</h4><br>
                                                                                <input #publisher
                                                                                type="text"
                                                                                class="form-control"
                                                                                placeholder="Search by publisher"
                                                                                />
                                                                                <div class="input-group-append">
                                                                                    <button
                                                                                    class="btn btn-outline-secondary"
                                                                                    type="button"
                                                                                    (click)="getBooksByPublisher(publisher.value)">
                                                                                    
                                                                                    Search
                                                                                </button>
                                                                                </div>
                                                                                </div>>
                                                                                <div class="row">
                                                                                    <div class="col-md-7">
                                                                                        <p>{{bookpublisherdata | json}}
                                                                                    </div>
                                                                                </div>
                                                                                                           
           