
<mat-toolbar color="primary">
    <span><mat-icon>eco</mat-icon>Books</span>
    <div class ="spacer"></div>
    
 
    <nav>
        
     
    
     <a mat-raised-button routerLink="login" class="nav-link active" aria-current="page">Login</a>
     <a mat-raised-button routerLink="register" class="nav-link active" aria-current="page">Register</a>
     <a mat-raised-button color="yellow" routerLink="reader-list">Books</a>
     <a mat-raised-button color="yellow" routerLink="subscribedbooks">subscribe</a>



     <a mat-raised-button color="accent" routerLink="searchbooks" routerLinkActive="active">SearchBooks</a>
  
 </nav>
 </mat-toolbar>
 
 
 
 


<!-- <app-reader-list></app-reader-list>
<app-searchbooks></app-searchbooks> -->
<router-outlet></router-outlet>
