<div class="bootstrap-wrapper">
    <div class="container text-center mt" >
        <h1>Welcome to Author</h1>
        <!--<h1 *ngIf="user">{{user}}</h1>-->
        <button class="btn btn-secondary" routerLink="/book" mat-raised-button color="secondary">CreateBook</button><br>
        <button class="btn btn-secondary" routerLink="/updatebook" mat-raised-button color="secondary">UpdateBook</button><br>
        <button type="logout" (click)="logout()" class="btn btn-primary">Logout</button>
    </div>

</div>

